header {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
}

.logo {
  position: relative;
  top: 5px;
  left: 80px;
}

.grover {
  display: block;
  position: relative;
}

.box {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  margin-top: 0px;
  margin-left: 350px;
}

.box a {
  padding-left: 30px;
}

.type {
}
